@font-face {
    font-family: Comfortaa;
    src: url('../font/comfortaa.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* 
    BTN LIBRAIRY
*/

.btn {
    border-radius: 5px;
    padding: 3%;
    font-size: 20px;
    text-decoration: none;
    margin: 1%;
    color: #fff;
    position: relative;
    display: inline-block;
    border: none;
    font-family: 'Comfortaa';
}

.btn:active, .btn::selection {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
    background-color: #B573D0;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
    background-color: #FFDE29;
}

/*
        HEADER
 */
header {
    height: 8%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    color: #000;
    font-family: Comfortaa;
}

header nav.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.7);
    background-color: #fff;
}

header nav.navbar div.container-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav.navbar div.container-left a {
    font-family: Comfortaa;
    font-size: 200%;
    padding-left: 3%;
    color: #000;
    text-decoration: none;
}

header nav.navbar div.container-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav.navbar div.container-right div.box {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav.navbar div.container-right div.box a {
    color: #27283c;
    text-decoration: none;
    font-size: 105%;
    transition-duration: 300ms;
}

header nav.navbar div.container-right div.box:hover a {
    color: #000;
    font-size: 105%;
}

header nav.navbar div.container-right .dropdown {
    display: flex;
    height: 100%;
    width: 14%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 105%;
}

header nav.navbar div.container-right .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    border-top: #27283c 3px solid;
    min-width: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header nav.navbar div.container-right .dropdown-content h3 {
    font-family: Comfortaa;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
}

header nav.navbar div.container-right .dropdown-content a {
    color: #000;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    text-decoration: none;
    display: block;
}

header nav.navbar div.container-right .dropdown-content a:hover {
    background-color: #b9b8b8;
    color: #27283c;
}

header nav.navbar div.container-right .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
}

header nav.navbar div.container-right .dropdown:hover .dropdown-content#moyen {
    color: #000;
    padding: 0.1%;
    text-decoration: none;
    display: block;
    right: 1%;
}

header nav.navbar div.container-right .dropdown-content#moyen a {
    color: #000;
    padding-right: 20%;
}

header nav.navbar div.container-right .dropdown:hover .dropbtn a {
    color: #cacaca;
}

/*
        MAIN
 */
main.home {
    height: 100%;
    width: 100%;
    background-image: url('../img/background.jpg');
}

main.home div.container-top {
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.home div.container-top div.box {
    margin-top: 8%;
    width: 40%;
    height: 40%;
    border: 10px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.home div.container-top div.box h2 {
    margin: 10%;
    color: white;
    font-family: "Comfortaa";
    font-size: 500%;
}

section.container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.container div.container-1 h2.title {
    margin-top: 3%;
    font-family: 'Comfortaa';
    font-size: 225%;
    margin-bottom: 5%;
}

section.container div.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.container div.container-2 {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {
    width: 22%;
    margin: 2.5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'Comfortaa';
    transition-duration: 300ms;
}

.card:hover {
    transform: scale(1.1);
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 70%;
    margin: 0;
    color: #fff;
    padding: 6px 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-blue {
    background-color: #4666ce;
}

.card-body h2 {
    margin-top: 7%;
}

.card-body a {
    text-decoration: none;
    color: white;
}

.card-body p {
    font-size: 100%;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
    justify-content: flex-start;
    align-items: center;
}

.user img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    margin-right: 10px;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

/*

        LOGIN / REGISTER

*/

main.login {
    height: 100%;
    width: 100%;
    background-image: url('../img/background.jpg');
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.login div.container {
    width: 30%;
    height: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 25px 1px black;
}

main.login div.container form.forms {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.login div.container div.box#top {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.login div.container div.box#top h1 {
    font-weight: bold;
    font-family: "Comfortaa";
}

main.login div.container div.box#middle {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.login div.container div.box#middle input {
    width: 60%;
    height: 25%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;
    border-color: #ccc;
}

main.login div.container div.box#bottom {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main.login div.container div.box#bottom input {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 3% 6%;
    font-size: 92%;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-family: "Comfortaa";
}

main.login div.container div.box#bottom input#connection {
    background-color: #5867dd;
    border-color: #5867dd;
    color: white;
}

main.login div.container div.box#bottom input#forgot {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

main.login div.container div.box#bottom input#forgot:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.2s ease-in-out;
}

main.login div.container div.box#register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main.login div.container div.box#register hr {
    width: 180px;
    color: #ccc;
}

main.login div.container div.box#register span {
    font-family: "Comfortaa";
    color: #ccc;
    padding: 5%;
}

/*
        ARTICLES
*/

section.container#articles {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
}

section.container#articles div.container-1 h2#article-title {
    padding-top: 5%;
    font-family: 'Comfortaa';
    font-size: 225%;
}

section.container#articles div.container-1 h4#article-sous-title {
    font-family: 'Comfortaa';
    font-size: 120%;
    padding-top: 0.1%;
    margin-bottom: 3%;
}

section.container div.articles {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.container div.articles div.article-card {
    margin-bottom: 2%;
    padding: 1.5%;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    border: 2px solid rgb(151, 149, 149);
    font-family: "Comfortaa";
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);

    transition-duration: 200ms;
}

section.container div.articles div.article-card:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}


section.container div.articles div.article-card a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: black;
}


section.container div.articles div.article-card div.box#right {
    height: 100%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container div.articles div.article-card div.box#left {
    height: 100%;
    width: 85%;
}

section.container div.articles div.article-card div.box#left h2 {
    margin-bottom: 1%;
}

section.container div.articles div.article-card div.box#bottom {
    margin-top: 1.2%;
}

section.container div.pagination {
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container div.pagination div#right, div#left {
    margin: 2%;
}

section.container div.pagination div#right i, div#left i {
    color: black;
}

/*

        CREATE ARTICLE

*/

main.create-article {
    height: 100%;
    width: 100%;
    background-image: url('../img/background.jpg');
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.create-article div.container {
    width: 30%;
    height: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 25px 1px black;
}

main.create-article div.container form.forms {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.create-article div.container div.box#top {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.create-article div.container div.box#top h1 {
    font-weight: bold;
    font-family: "Comfortaa";
}

main.create-article div.container div.box#middle {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.create-article div.container div.box#middle input {
    width: 80%;
    height: 15%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;

    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}

main.create-article div.container div.box#middle select {
    width: 80%;
    height: 15%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3.2%;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;

    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}


main.create-article div.container div.box#middle textarea {
    width: 80%;
    height: 100%;
    padding: 2%;
    border: none;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;
    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}


main.create-article div.container div.box#bottom {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main.create-article div.container div.box#bottom input {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 3% 6%;
    font-size: 92%;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-family: "Comfortaa";
}

main.create-article div.container div.box#bottom input#create {
    background-color: #5867dd;
    border-color: #5867dd;
    color: white;
    border: 2px solid #5867dd;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
    transition-duration: 300ms;
    margin-right: 6%;
}

main.create-article div.container div.box#bottom input#create:hover {
    transition-duration: 300ms;
    background-color: white;
    border-color: black;
    color: black;
}

/*
        VIEW ARTICLE
*/

main.view-article {
    height: 100%;
    width: 100%;
    background-image: url('../img/background.jpg');
}

main.view-article div.container-top {
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.view-article div.container-top div.box {
    margin-top: 8%;
    width: 40%;
    height: 40%;
    border: 10px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.view-article div.container-top div.box h2 {
    margin: 10%;
    color: white;
    font-family: "Comfortaa";
    font-size: 500%;
}


section.view-article {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.view-article div.container {
    width: 100%;
    height: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.view-article h2 {
    margin-top: 3%;
    font-family: 'Comfortaa';
    font-size: 225%;
}

section.view-article h3 {
    margin-top: 3%;
    font-family: 'Comfortaa';
    font-size: 200%;
    margin-bottom: 1%;
}


section.view-article h4 {
    padding-top: 1%;
    font-family: 'Comfortaa';
    font-size: 120%;
    margin-bottom: 3%;
}


section.view-article div.container-2 {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.view-article div.container-2 span {
    padding-top: 0;
    font-family: 'Comfortaa';
    font-size: 100%;
    margin-bottom: 3%;
}

/*

        COMMENTARY

*/

section.view-article textarea {
    width: 95%;
    background-color: whitesmoke;
    border: #333 solid 2px;
    margin-bottom: 3%;
	margin-top: 5%;
    padding: 2%;

    font-size: 105%;
    font-family: 'Comfortaa';
}

section.view-article div.container-3 {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border: 2px solid rgb(151, 149, 149);
    font-family: "Comfortaa";
    box-shadow: 0px 0px 30px 10px rgb(0 0 0 / 20%);
    transition-duration: 200ms;
    padding-left: 2%;
    padding-top: 3%;
    padding: 1%;
    margin-top: 2%;
}

section.view-article div.container-3 span {
    font-family: 'Comfortaa';
    font-size: 135%;
}

section.view-article div.container-3 h5 {
    font-family: 'Comfortaa';
    font-size: 105%;
    margin-top: 0.5%;
}

#container-commentaire::-webkit-scrollbar {
    width: 0px;
}

#container-commentaire {
    overflow: scroll;
    width: 70%;
    height: 50%;
}

#form-commentaire {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/*

        ADMIN

*/

main.admin {
    height: 100%;
    width: 100%;
    background-image: url('../img/background.jpg');
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.admin div.container {
    width: 30%;
    height: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 25px 1px black;
}

main.admin div.container form.forms {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.admin div.container div.box#top {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.admin div.container div.box#top h1 {
    font-weight: bold;
    font-family: "Comfortaa";
}

main.admin div.container div.box#middle {
    height: 28%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.admin div.container div.box#middle input {
    width: 80%;
    height: 30%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 100%;
    color: grey;

    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);

    background-size: 9%;
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 50%;
}

main.admin div.container div.box#middle select {
    width: 80%;
    height: 15%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3.2%;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;

    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}


main.admin div.container div.box#middle textarea {
    width: 80%;
    height: 100%;
    padding: 2%;
    border: none;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;
    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}


main.admin div.container div.box#bottom {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main.admin div.container div.box#middle-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

main.admin div.container div.box#middle-2 hr {
    width: 180px;
    color: #ccc;
}

main.admin div.container div.box#middle-2 span {
    font-family: "Comfortaa";
    color: #ccc;
    padding: 5%;
}

main.admin div.container#admin {
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 25px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main.admin div.container div.box#middle-fix div#btn-fix {
    width: 80%;
    height: auto;
    margin-top: 1.5%;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 100%;
    color: grey;

    padding: 1%;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid rgb(151, 149, 149);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2)
}

main.admin div.container div.box#middle-fix::-webkit-scrollbar {
    width: 0px;
}

main.admin div.container div.box#middle-fix {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

main.admin div.container div.box#middle-fix div#btn-fix div#btn-left {
    width: 50%;
    height: 100%;
}

main.admin div.container div.box#middle-fix div#btn-fix div#btn-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main.admin div.container div.box#middle-fix div#btn-fix div#btn-right form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main.admin div.container div.box#middle-fix div#btn-fix div#btn-right form button {
    padding: 7%;
    margin-right: 7%;
}

#edit-button {
    padding: 7%;
    font-family: 'Comfortaa';
    text-decoration: none;
    font-weight: 100;
}

#edit-select {
    width: 60%;
    height: 25%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3%;
    border: none;
    background-color: rgba(247, 247, 249, .7);
    font-family: "Comfortaa";
    color: grey;
    border-color: #ccc;
}

#form-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 15%;
}

#input-category {
    width: 75%;
    height: 35%;
    padding: 2%;
    margin-bottom: 5%;
    font-family: 'Comfortaa';
    font-size: 90%;
}


/*
        FOOTER
 */
footer {
    height: 80%;
    width: 100%;
    background: -webkit-linear-gradient(left top, #79799c, #131327);
}

footer div#top svg {
    filter: drop-shadow(0px 10px 6px rgb(0 0 0 / 0.4));
}

footer div#bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: Comfortaa;
}

footer div#bottom div.container {
    height: auto;
    width: 10%;
    padding: 2%;
    color: #c2cbd0;
}

footer div#bottom div.container h2 {
    margin-bottom: 6%;
}

footer div#bottom div.container a {
    text-decoration: none;
    color: #c2cbd0;
}

footer div#bottom div.container a:hover {
    color: white;
}


footer div#bottom div.container ul, li {
    list-style-type: none;
    margin-bottom: 1.5%;
}

footer div#bottom div.container ul#icons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

footer div#bottom div.container ul#icons li#icon {
    margin-left: 10%;
    margin-top: 10%
}